@page "/NewMission"
@attribute [Authorize(Roles = "Admin, Moderate")]

<PageTitle>New Mission</PageTitle>

<MudText Typo="Typo.h4" GutterBottom="true">Neue Mission/Operation</MudText>
<MudText Class="mb-8">This component demonstrates fetching data from the server.</MudText>

@* <MudContainer Class="mt-10" MaxWidth="MaxWidth.False" Fixed="false"> *@
    <MudText Typo="Typo.h3" Align="Align.Start" GutterBottom="true">Checkout</MudText>
    <MudGrid Spacing="5" Class="mt-10">
        <MudItem xs="7">
            <MudText Typo="Typo.h5" GutterBottom="true">Billing address</MudText>
            <MudGrid>
                <MudItem xs="12">
                    <MudTextField T="string" Label="Title" />
                </MudItem>
                <MudItem xs="8">
                    <MudTextField T="DateTime?" Format="yyyy-MM-dd" Label="Datum" InputType="InputType.Date" />
                </MudItem>
                <MudItem xs="4">
                    <MudTextField T="string" Label="Startzeit" InputType="InputType.Time" />
                </MudItem>
                <MudItem xs="12">
                    <MudTextField T="string" Label="Beschreibung" />
                </MudItem>
                <MudItem xs="12">
                    <div class="d-block">
                        <MudTextField T="string" Label="Image" />
                    </div>
                </MudItem>
                <MudItem xs="12">
                    <div class="d-block">
                        <MudTextField T="string" Label="Karte" />   
                    </div>
                   
                </MudItem>
               
                <MudItem xs="12" Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" DisableElevation="true" Color="Color.Primary" Size="Size.Large" Class="mt-8">Continue to Payment</MudButton>
                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="5">
            <MudText Typo="Typo.h5" GutterBottom="true">Cart</MudText>
          
                <MudList Clickable="true">
                    <MudListItem Icon="@Icons.Material.Filled.ContentCut">
                        <div class="d-flex">
                            <MudText>Scissor - Big</MudText>
                            <MudText Inline="true" Class="ml-auto">$5</MudText>
                        </div>
                    </MudListItem>
                    <MudListItem Icon="@Icons.Material.Filled.AirplanemodeActive">
                        <div class="d-flex">
                            <MudText>Model Airplane</MudText>
                            <MudText Class="ml-auto">$20</MudText>
                        </div>
                    </MudListItem>
                    <MudListItem Icon="@Icons.Material.Filled.Create">
                        <div class="d-flex">
                            <MudText>Plastic Glue</MudText>
                            <MudText Class="ml-auto">$12</MudText>
                        </div>
                    </MudListItem>
                    <MudListItem Icon="@Icons.Material.Filled.ColorLens">
                        <div class="d-flex">
                            <MudText>Color set - Modern planes</MudText>
                            <MudText Class="ml-auto">$16</MudText>
                        </div>
                    </MudListItem>
                </MudList>
                <div class="mt-auto">
                    <MudDivider />
                    <div class="d-flex pa-4">
                        <MudText>Total:</MudText>
                        <MudText Class="ml-auto"><b>$53</b></MudText>
                    </div>
                </div>
           
        </MudItem>
    </MudGrid>
@* </MudContainer>
 *@

@code {

}
